MakeUp.HS/obj/Debug/MakeUp.HS.csproj.FileListAbsolute.txt
MakeUp.HS/obj/Debug/MakeUp.HS.Form.InsertUpdateMakeUpBatchForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.GenMakeUpGroupForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.pdb
MakeUp.HS/obj/Debug/MakeUp.HS.dll
MakeUp.HS/obj/Debug/MakeUp.HS.csprojResolveAssemblyReference.cache
MakeUp.HS/obj/Debug/MakeUp.HS.csproj.GenerateResource.Cache
MakeUp.HS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MakeUp.HS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MakeUp.HS/obj/Debug/CoreCompileInputs.cache
MakeUp.HS/bin/Debug/MakeUp.HS.pdb
MakeUp.HS/bin/Debug/MakeUp.HS.dll
