MakeUp.HS/obj/Debug/MakeUp.HS.csproj.FileListAbsolute.txt
MakeUp.HS/obj/Debug/MakeUp.HS.Form.InsertUpdateMakeUpBatchForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.GenMakeUpGroupForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.pdb
MakeUp.HS/obj/Debug/MakeUp.HS.dll
MakeUp.HS/obj/Debug/MakeUp.HS.csprojResolveAssemblyReference.cache
MakeUp.HS/obj/Debug/MakeUp.HS.csproj.GenerateResource.Cache
MakeUp.HS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MakeUp.HS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MakeUp.HS/obj/Debug/CoreCompileInputs.cache
MakeUp.HS/bin/Debug/MakeUp.HS.pdb
MakeUp.HS/bin/Debug/MakeUp.HS.dll
MakeUp.HS/obj/Debug/MakeUp.HS.Form.MakeUpGroupManagerForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.InsertUpdateMakeUpGroupForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.AssignTeacherForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.csproj.CopyComplete
MakeUp.HS/bin/Debug/SmartSchool.Core.pdb
MakeUp.HS/bin/Debug/SmartSchool.Core.dll
MakeUp.HS/obj/Debug/MakeUp.HS.Form.SwapMakeUpGroupForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.MakeUpScoreStatusForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.ExportMakeUpScoreForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Properties.Resources.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.ExportMakeUpReportSettingForm.resources
MakeUp.HS/obj/Debug/MakeUp.HS.Form.ExportMakeUpReportForm.resources
MakeUp.HS/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
